*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),
    url(../images/landing.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
img {
    width: 150px;
    
}
nav{
    padding: 2% 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #ff105f,#ffad06);
}

.nav-links{
    flex: 1;
    text-align: left;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: crimson;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.sub-menu{
    display: none;
}
nav ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background: lightcoral;
    margin-top: 15px;
    margin-left: -15px;
}
nav ul li:hover .sub-menu ul li{
    display: block;
    margin: 10px;
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
    font-size: 18px;
}
nav ul li:hover .sub-menu ul li:last-child{
    border-bottom: none;
}
nav ul li:hover .sub-menu ul li:hover{
    color: crimson;
}
.text-box{
    width: 90%;
    margin: auto;
    margin-top: 10%;
    position: absolute;
    text-align: center;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text-box h1{
    font-size: 68px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 28px;
    color: yellow;
    
}
nav .fa{
    display: none;
}
marquee {
    background: #ffad06;
    padding-bottom: 10px;
    font-size: 20px;
}

/* about us */
.about-section{
    width: 90%;
    
}

.inner-container{
    width: 100%;
    text-align: center;
}

.inner-container h1{
    font-weight: bolder;
	font-size: 35px;
	position: relative;
	margin: 40px 0;
    color: crimson;

}
.inner-container h1::before{
    content: '';
	position: absolute;
	width: 100px;
	height: 4px;
	background-color: #ffad06;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	animation: animate 4s linear infinite;
}
.border{
    height: 3px;
    width: 100px;
    background-color: tomato;
}
.text{
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 30px 0px;
    color: black;
}
button{
    text-align: center;
    margin-bottom: 5px;
    font-weight: bolder;
    font-size: 18px;
    border: none;
    padding: 8px 15px;
    background: linear-gradient(to right, #ff105f,#ffad06);
}
button:hover{
    text-decoration: underline;
}
/* Team */
.team-section{
    width: 90%;
}

.team-section .team-container{
    width: 100%;
    text-align: center;
}
.team-section .team-container h1{
    font-weight: bolder;
	font-size: 35px;
	position: relative;
	margin: 40px 0;
    color: crimson;
}
.team-section .team-container h1::before{
    content: '';
	position: absolute;
	width: 100px;
	height: 4px;
	background-color: #ffad06;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	animation: animate 4s linear infinite;
}
.container{
    width: 80%;
    margin: auto;
}

.team-section  p{
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 30px 0px;
    color: black;
}
.team-section .team-card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
}
.team-section .container .team-card .card{
    width: 100%;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}
.team-section .container .team-card .card:hover{
    background-color: #f3f3f3;
    transition: 0.3s;
}
.team-section .container .team-card .card .img-section img{
    height: 120px;
    width: 150px;
    border-radius: 50%;
    border:6px solid #fff;
}.team-section .container .team-card .card .content{
    width: 100%;
    text-align: center;
}
.team-section .container .team-card .card .content h3{
    font-size: 27px;
    margin-top: 10px;
    letter-spacing: 1.5px;
    color: crimson;
}
.team-section .container .team-card .card .content p{
    font-size: 15px;
    margin:16px 0px;
    line-height: 1.5;
    color: #6c6c6c;
}
/* programs */
.program{
    width: 90%;
    margin: auto;
    margin-top: 5px;
    padding-top: 30px;
    background-color: cornsilk;
}
.program-container{
    width: 100%;
	text-align: center;
}
.program h1{
    font-weight: bolder;
	font-size: 35px;
	position: relative;
	margin: 40px 0;
    color: crimson;
}
.program h1::before{
    content: '';
	position: absolute;
	width: 100px;
	height: 4px;
	background-color: #ffad06;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	animation: animate 4s linear infinite;
}
.program p{
    font-size: 18px;
    line-height: 15px;
}
.row{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}
.program-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.program-col img{
    width: 60%;
    border-radius: 5px;
}
.program-col p{
    padding: 0;
    line-height: 22px;
    font-size: 18px;
}
.program-col h4{
    font-size: 26px;
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
/* Events Section */
.input{
	display: none;
}
.event-container{
	width: 100%;
	text-align: center;

}
.event-container h1{
	font-weight: bolder;
	font-size: 35px;
	position: relative;
	margin: 40px 0;
    color: crimson;

}
.event-container h1::before{
	content: '';
	position: absolute;
	width: 100px;
	height: 3px;
	background-color: #ffad06;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	animation: animate 4s linear infinite;
}

@keyframes animate{
	0%{
		width: 100px;
	}
	50%{
		width: 200px;
	}
	100%{
		width: 100px;
	}
}
.top-content{
	background: linear-gradient(to right, #ff105f,#ffad06);
	width: 30%;
	margin: 0 auto 30px auto;
	height: 80px;
	display: flex;
	align-items: center;
	border-radius: 6px;
	box-shadow: 3px 3px 5px lightgray;

}

.top-content label{
	display: inline-block;
	height: 80%;
	margin: 0 20px;
	font-size: 25px;
    font-weight: 700;
    background: linear-gradient(to right, #ff105f,#ffad06);
	cursor: pointer;
	transition: .5s;
}

.top-content label:hover{
	text-decoration: underline;
    color: cornsilk;
}

.photo-gallery{
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px; 
}

.pic{
	position: relative;
	height: 230px;
	border-radius: 10px;
	box-shadow: 3px 3px 4px lightgray;
	cursor: pointer;
	transition: .5s;
}
.pic img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	transition: .5s;
}

.pic::before{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 25px;
	font-weight: bold;
	width: 100%;
	margin-top: -100px;
	opacity: 0;
	transition: .3s;
	transition-delay: .2s;
	z-index: 1;
}
 
 .pic::after{
 	content: '';
 	position: absolute;
 	width: 100%;
 	bottom: 0;
 	left: 0;
 	border-radius: 10px;
 	height: 0%;
 	background-color: rgba(0,0,0,.4);
 	transition: .3s; 
 }
 .pic:hover::after{
 	height: 100%;
 }
 .pic:hover::before{
 	margin-top: 0;
 	opacity: 1;
 }

  #check2:checked ~ .event-container .photo-gallery .functions{
  	transform: scale(1);
  	opacity: 1;
  	position: relative;

  }

   #check2:checked ~ .event-container .photo-gallery .consultancy,
   #check2:checked ~ .event-container .photo-gallery .place{
   	opacity: 0;
   	transform: scale(0);
   	position: absolute;
   	transition: .0s;
   }
/* Footer */
footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/about.jpg);
    background-size: cover;
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    color: crimson;
}
.box .content{
    margin: 20px 0 0 0;

}
.left .content p{
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
    color: thistle;

}
.left .content .social{
    margin: 20px 0 0 0;
}
.content .place .text{
    color: whitesmoke;
    font-size: 20px;
}
.content .phone .text{
    color: whitesmoke;
    font-size: 20px;
}
.content .email .text{
    color: whitesmoke;
    font-size: 20px;
}
.left .content .social a{
    padding: 0 2px;
}
.left .content .social a span{
    height: 40px;
    width: 40px;
    background: cornsilk;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background: linear-gradient(to right, #ff105f,#ffad06);
}







@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}
@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        padding: 80px;
    }
}
/* mobile devices */
@media(max-width: 700px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }

    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: crimson;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}


