*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),
    url(../images/mountain.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    padding: 2% 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: crimson;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.sub-menu{
    display: none;
}
nav ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background: lightcoral;
    margin-top: 15px;
    margin-left: -15px;
}
nav ul li:hover .sub-menu ul li{
    display: block;
    margin: 10px;
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
nav ul li:hover .sub-menu ul li:last-child{
    border-bottom: none;
}
nav ul li:hover .sub-menu ul li:hover{
    color: crimson;
}
.text-box{
    width: 90%;
    margin: auto;
    position: absolute;
    text-align: center;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: yellow;
    
}
nav .fa{
    display: none;
}
/* about us */
.about-section{
    margin-top: 25px;
    background: url(../images/about.webp);
    background-size: 65%;
    background-color: rgb(49, 80, 80);
    overflow: hidden;
    padding: 100px 0;
    background-size: cover;
}

.inner-container{
    width: 30%;
    float: right;
    background-color:cornsilk;
    padding: 150px;

}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;

}
.border{
    height: 3px;
    width: 100px;
    background-color: tomato;
}
.text{
    font-size: 23px;
    color: black;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
button{
    margin-bottom: 5px;
    border: none;
    padding: 8px 15px;
    background: linear-gradient(to right, #ff105f,#ffad06);

   

}
button:hover{
    text-decoration: underline;
}
/* Team */
.team-section{
    width: 100%;
    text-align: center;
}
.team-section .container{
    width: 80%;
    margin: auto;

}
.team-section .container .row{
    width: 60%;
    margin: auto;
}
.team-section .container .row .title{
    margin-top: 50px;
}
.team-section .container .row .title h1{
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #ff105f;
}
.team-section .container .row .title p{
    font-size: 18px;
    font-family: sans-serif;
    margin: 30px 0px;
    color: thistle;
}
.team-section .container .team-card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
}
.team-section .container .team-card .card{
    width: 100%;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}
.team-section .container .team-card .card:hover{
    background-color: #f3f3f3;
    transition: 0.3s;
}
.team-section .container .team-card .card .img-section img{
    height: 120px;
    width: 150px;
    border-radius: 50%;
    border:6px solid #fff;
}.team-section .container .team-card .card .content{
    width: 100%;
    text-align: center;
}
.team-section .container .team-card .card .content h3{
    font-size: 27px;
    margin-top: 10px;
    letter-spacing: 1.5px;
    color: crimson;
}
.team-section .container .team-card .card .content p{
    font-size: 15px;
    margin:16px 0px;
    line-height: 1.5;
    color: #6c6c6c;
}
/* programs */
.program{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    padding-top: 100px;
    background-color: cornsilk;
}
.program h1{
    font-size: 35px;
    color: crimson;
}
.program p{
    font-size: 18px;
    line-height: 15px;
}
.row{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}
.program-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.program-col img{
    width: 60%;
    border-radius: 5px;
}
.program-col p{
    padding: 0;
    line-height: 22px;
    font-size: 18px;
}
.program-col h4{
    font-size: 26px;
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
/* News Section */
.news-section{
    width: 100%;
}
.news-section .section-content{
    width: 85%;
    margin: 20px auto;
}
.news-section .section-content .title{
    width: 60%;
    text-align: center;
    margin: auto;
}

.news-section .section-content .title h2{
    font-size: 40px;
    color: #ff105f;
    text-transform: uppercase;
}
.news-section .section-content .title p{
    font-size: 18px;
    color: darkgray;
    margin-top: 20px;
}
.news-section .section-content .cards{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 50px;
    margin: 25px auto;
}
.news-section .section-content .cards .card{
    width: 100%;
    background-color:cornsilk;
    position: relative;
}
.news-section .section-content .cards .card img{
    width: 100%;
    height: auto;
}
.news-section .section-content .cards .card .article{
    padding: 15px 20px;
}

.news-section .section-content .cards .card .article h4{
    font-size: 24px;
    color: #ff105f;
}

.news-section .section-content .cards .card .article p{
    font-size: 16px;
    margin:10px 0px;
    color: gray;
}

.news-section .section-content .cards .card a{
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(to right, #ff105f,#ffad06);
    padding: 8px 1px;
    margin-left: 20px;
    color: #fff;
    margin-bottom: 20px;
}
.news-section .section-content .cards .card a:hover{
    text-decoration: underline;
}
.news-section .section-content .cards .card .posted-date p{
    font-weight: 600;
    position: absolute;
    top: 5px;
    left: 0;
    display: inline-block;
    background: transparent;
    background-color: thistle;
    padding: 6px 15px;
}






@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}
@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        padding: 80px;
    }
}
/* mobile devices */
@media(max-width: 700px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }

    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: crimson;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}


